.container {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;

  width: 100%;
}

.card {
  width: 25.6rem;
  height: 29.4rem;
}

.card > img {
  width: 100%;
  height: 7.2rem;
  object-fit: cover;
}

.card .avatar {
  width: 60px;
  height: 60px;
  border-radius: 8px;

}
